.DS_Store
node_modules
/dist

/Resources/public/hot/
/Resources/public/img/
/Resources/public/precache-manifest*
/Resources/public/robots.txt
/Resources/public/manifest.json
/Resources/public/favicon.ico
/Resources/views/index.html.twig

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
yarn.lock

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
